<div class="container">
    <header class="s-header">
        <nav class="s-header_top-bar">
            <span class="s-header_logo">SCHOOL FINDER</span>
            <span class="home-link-container">
                <a class="home-link overview-nav-link" href="cover.html">HOME</a>
            </span>
            <span class="logout-link-container">
                <a class="logout-link overview-nav-link" href="#">LOG OUT</a>
            </span>
        </nav>
    </header>


    <h4>Click all types of schools you want to search</h4>

    <button class="type-btn btn btn-dark" value="private" id="private-btn">PRIVATE</button>
    <button class="type-btn btn btn-dark" value="catholic" id="catholic-btn">CATHOLIC</button>
    <button class="type-btn btn btn-dark" value="jewish" id="jewish-btn">JEWISH</button>
    <button class="type-btn btn btn-dark" value="international" id="international-btn">INTERNATIONAL</button>
    <div id="options-to-search">Types: </div>

    <button class="btn btn-dark" value="search" id="search-btn">SEARCH</button>

</div>