

<div class="school_container">
    <div class="row row-school">
        <div class="col-sm-8">
            <h3><a href="www.ecfs.org">Ethical Culture Fieldston</a><h3>
            <h5>Address</h5>
            <p id="school-address">33 Central Park West</p>
            <p><span id="school-city">New York </span><span id="school-state">NY, </span><span
                    id="school-zip">10023</span></p>
            <p id="school-phone">Telephone: (212) 712-6220</p>
            <p id="school-website">www.ecfs.org</p>
        </div>
        
        <div class="col-sm-2">
             <img src="C:\Users\Ondel\OneDrive\Project_2\public\img\collegiate_school.png" alt="collegiate_school">
        </div>
        <hr style="border: none; border-bottom: 1px solid gray; width:80%">

    </div>



    <div class="row">
            <div class="col-sm-8">
              <div id="school_info"></div>
            </div>

            <div class="col-sm-2">
                    <div id ="logo"></div>
               </div>
        <hr style="border: none; border-bottom: 1px solid gray; width:80%">
    </div>


</body>
</html>

