<div class="container">
    <header class="s-header">

        <nav class="s-header_top-bar">
            <span class="s-header_logo">SCHOOL FINDER</span>
            <span class="home-link-container">
                <a class="home-link overview-nav-link" href="#">SIGN IN / SING UP</a>
            </span>
        </nav>
    </header>
    <div class="row">
        <div class="col-lg-6">
            <span id="logo">SCHOOL FINDER</span>
            <!-- <span class="hamburger-box"></span>
            <span class="line line--1"></span>
            <span class="line line--2"></span> -->
            <div id="search">
                <select id="input-grade" class="custom-select mr-sm-2">
                    <option value="Select a Grade">Select a Grade</option>
                    <option value="pk">Pre-K</option>
                    <option value="k">Kidergarden</option>
                    <option value="1">Grade 1</option>
                    <option value="2">Grade 2</option>
                    <option value="3">Grade 3</option>
                    <option value="4">Grade 4</option>
                    <option value="5">Grade 5</option>
                    <option value="6">Grade 6</option>
                    <option value="7">Grade 7</option>
                    <option value="8">Grade 8</option>
                    <option value="9">Grade 9</option>
                    <option value="10">Grade 10</option>
                    <option value="11">Grade 11</option>
                    <option value="12">Grade 12</option>
                </select>
                <button class="btn btn-dark" id="go-btn">START</button>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="img/boy-glasses2.jpg" alt="Boy with glasses">
        </div>

    </div>
</div>