<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parent</title>
    <!-- Bootstrap CSS link  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- Google Fonts link -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Playfair+Display|Quicksand|Roboto+Condensed|Scada|Sintony" rel="stylesheet">
</head>
    <body id="body-results" background="img/basketball.jpeg">
        <header class="header-school-page navbar justify-content-center sticky-top">
            <div class="logo-scholar-line">
                    <img src="/img/logo_scholar/logo_scholar_1.png" class="logo-scholar-inner">
                </div> 
            </header>
            <div class="nav-container"> 
        <!-- <nav class="nav nav-school justify-content-center"> -->
                <ul class="nav justify-content-center">
                    <li class="link-container nav-item">
                      <a class="home-link nav-link" href="/">HOME</a>
                    </li>
                    <li class="link-container nav-item">
                      <a class="results-link nav-link" href="/faq">FAQ</a>
                    </li>
                    <li class="link-container nav-item">
                      <a class="register-link nav-link" href="/register">SIGN IN / REGISTER</a>
                    </li>
                  </ul>
                <!-- </nav> -->
            </div>
    <div class="container main-container-parents"> 
        <div class="container parent-box">
                <div class="container parent-info">
                        <h3 id="welcome">Welcome Parent Name</h3>
                        <div id="parent-data" class="row">
                        <div id="parent-info" class="col-lg-6">
                            <h5>Account Info</h5>
                            <p class="parent-name">Parent name</p>
                            <p id="parent-email">name@gmail.com</p>
                        </div>
                    </div>
                    </div>
                    <!-- <div class="container search-results"> -->
                            <div class="container card card-parent">
                                    <div class="row">
                                        <div class="card-title" id="fs">YOUR FAVORITE SCHOOLS</div>
                                    </div>
                                        <div class="card-body tableDiv">
                                          <table class="table table-hover" id="tableContainer">
                                              {{#if favorites}}
                                            <tbody id="tbodyfav">
                                                {{#each favorites}}
                                                    <tr>
                                                    <td>
                                                            <h4 class="school-name col-lg-8">Ethical Culture Fieldston</h4>
                                                            <button class="learn-btn btn btn-sm btn-dark col-lg-2">LEARN MORE</button>
                                                            <button class="btn btn-sm btn-dark remove-btn col-lg-2">REMOVE</button>
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                          </table>
                                          {{else}}
                                          <h5>Sorry there are currently no favorites selected.</h5>
                                          {{/if}}
                                
                                        </div>
                                      </div>
                            <!-- </div> -->
                </div>
</div>
 <!-- JQUERY AND JS LINKS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TimelineLite.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/CSSPlugin.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenLite.min.js"></script>
   <script src="js/app.js"></script>
</body>
</html>