<div class="container">
    <header class="s-header">

        <nav class="s-header_top-bar">
            <span class="s-header_logo">SCHOOL FINDER</span>
            <span class="home-link-container">
                <a class="home-link overview-nav-link" href="cover.html">HOME</a>
            </span>
        </nav>
    </header>
    <div class="container search-results">
        <h3>SEARCH RESULTS</h3>
        <h5 class="type-title">Private Schools</h5>
        
        <ul class="list-group results-list"></ul>
        
        {{#each data}}

        <li class="list-group-item row">
            <h4 class="school-name-list col-lg-9">{{this.dataValues.school_name}}</h4>
            <button class="add-btn btn btn-sm btn-dark col-lg-2">ADD TO FAVORITES</button>
        </li>
        
        {{/each}}
        
        </ul>
       
    </div>
</div>