
    <div class="container search-results">
        <!-- <h3 id="search-results-title">Grade 2</h3> -->
        <div class="container card">
            <div class="row justify-content-between">
                <h4 class="card-title col-lg-3" id="sr">SEARCH RESULTS</h4>
                <h4 id="search-results-title" class="col-lg-2">Grade: {{grade}}</h4>
            </div>
            <div class="card-body tableDiv">
                <table class="table table-hover" id="tableContainer">
                    <thead>
                        <tr>
                            <th class="school-type">SCHOOL TYPE</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        {{#each data}}
                        <tr>
                            <td>
                                <h4 class="school-name col-lg-8">{{this.dataValues.school_name}}</h4>
                                <form action="/school/{{this.dataValues.school_id}}">
                                    <button class="learnBtn btn btn-sm btn-dark col-lg-2" value="{{this.dataValues.school_id}}">LEARN MORE</button>
                                </form>
                                <button class="btn btn-sm btn-dark add-btn col-lg-2">ADD TO FAVORITES</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

<!-- JQUERY AND JS LINKS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="/js/app.js"></script>