body {
  font-family: "Sintony", sans-serif;
}

.body-school {
  background: url("/img/computer.jpg");
}

.body-results {
  background: url("/img/library1.jpeg");
}

.body-school {
  background: url("/img/computer.jpg");
}

.body-results {
  background: url("/img/library1.jpeg");
}

#body-cover {
  background-size: 90%;
}

header {
  margin-left: auto;
  margin-right: auto;
  border-top: 4px solid #206f8e;
  background-color: white;
  /* opacity: 0.8; */
  font-size: 17px;
}

.header-school-page {
  height: 110px;
  /* background-color: yellow;
  border: 1px solid red;  */
}

.nav-school {
  display: inline-block;
  /* background-color: blue; */
  margin-right: 25px;
}

.nav-ul {
  background-color: white;
}

.results-link,
.register-link,
.home-link {
  color: #206f8e;
}

.logo-scholar-inner {
  height: 130px;
}

.logo-scholar-line {
  display: inline-block;
  margin-left: 8%;
}

.school-main {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 30px;
  padding: 2%;
  justify-content: center;
  margin-bottom: 40px;
}

.nav-container {
  justify-content: center;
  background-color: white;
}
.nav-school {
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  display: inline-block;
}

.nav-school {
  display: inline-block;
  margin-right: 25px;
}

.nav-ul {
  background-color: white;
}

.results-link,
.register-link,
.home-link {
  color: #206f8e;
}

.logo-scholar-inner {
  height: 130px;
}

.logo-scholar-line {
  display: inline-block;
  margin-left: 8%;
}

.school-main {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 30px;
  padding: 2%;
  justify-content: center;
  margin-bottom: 40px;
}

.nav-container {
  justify-content: center;
  background-color: white;
}
.nav-school {
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  display: inline-block;
}

.logo-header {
  font-size: 80px;
  letter-spacing: 0;
  text-align: center;
  font-family: "Scada", sans-serif;
}

a {
  color: black;
}

a:hover {
  color: #8c734b;
  text-decoration: underline;
}


nav {
  background-color: white;
  margin-bottom: 2%;
}
.nav-item {
  margin: 10px;
}

#school-name {
  font-weight: bold;
  font-size: 30px;
}

.container-results-all,
.parent-box {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  margin-top: 6%;
}

.search-results,
.card-parent {
  background-color: rgba(255, 255, 255, 0);
}
.card-parent {
  margin-bottom: 2%;
  border: 1px solid #ccc;
}

.div-animate {
  background-color: white;
  opacity: 0.9;
  z-index: 2;
  width: 40%;
  height: 20%;
}

.div-closed {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  width: 40%;
  position: absolute;
}

/* .div-open {
  position: absolute;
  width: 40%;
  height: 80%;
  top: 20%;
  justify-content: space-evenly;
  align-content: center;
  opacity: 0;
  top: 45%;
  left: 10%;
} */

/* #search {
  vertical-align: middle;
  width: 300px;
} */

#search-btn {
  margin-top: 10px;
  justify-content: center;
}

#search-btn:hover {
  background-color: #206f8e;
}


.header-cover {
  border: none;
  height: 100px;
  background-color: white;
  /* position: relative;
  z-index: 999; */
}

.cover-img {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 120%;
  object-fit: cover;
  object-position: top;
}

/* #logo {
  position: relative;
  font-size: 50px;
  z-index: 1;
  font-family: "Playfair Display";
} */


ul {
  list-style: none;
}

.school-name,
.add-btn {
  display: inline-block;
}

.btn:hover {
  background-color: #206f8e;
}

.add-btn {
  max-width: 170px;
}

.learn-btn,
.remove-btn {
  max-width: 120px;
}

li {
  margin-bottom: 1px solid gray;
}

h5 {
  margin-top: 20px;

}

.search-results {
  padding: 25px;
}

.events-list {
  background-color: rgba(255, 255, 255, 0.9);
  /* margin-left: 3%; */
  margin-right: 5%;
}
.school-name-list,
.event-name-list {
  display: inline-block;
}

#div-school-logo {
  border: 1px solid #ccc;
  border-radius: 5px;
}

#address-title {
  font-weight: bold;
}

.p1, 
.p2, 
.p3, 
.p4 {
  margin-bottom: 2px;
  font-size: 17px;
}

#school-description,
#school-tuition {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 20px;
  margin-left: 4%;
  margin-right: 4%;
  /* border: 1px solid red; */
}
#school-description {
  padding-top: 10px;
  padding-left: 1%;
}

.row-school {
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 4%;
  margin-right: 4%;
}

.btn-school-page {
  margin-left: auto;
  margin-right: auto;
}

#school-name {
  text-align:center;
}

.event-name-list,
.event-date {
  font-size: 18px;
  display: inline-block;
}

#school-tution {
  font-size: 18px;
}

th {
  text-align: center;
}

#sr,
#search-results-title {
  font-size: 19px;
  margin-top: 2%;
}

#fs {
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
  font-size: 20px;
}

/* INDEX */
.logo-cover,
#logo-big {
  height: 230px;
  margin-bottom: 10px;
  position: relative;
  top: 10%;
}

.about {
  margin: 20px;
  position: relative;
  top: 50%;
}

#search {
  position: relative;
  top: 90%;
  justify-content: space-evenly;
  align-content: center;
  opacity: 0;
  width: 300px;
}

.cover-img {
  position: relative;
  top: 1%;
}

#image-kids-block {
  height: 600px;
}
.blocks {
  position: fixed;
  bottom: 0;
  z-index: 2;
  list-style-type: none;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  color: white;
}
.blocks__block {
  will-change: transform;
  position: relative;
  height: 20vh;
  flex: 1;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
.blocks__block:nth-child(1) {
  background: #f4d35d;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}
.blocks__block:nth-child(2) {
  background: #db5b4a;
  -webkit-transform-origin: 25% 100%;
          transform-origin: 25% 100%;
}
.blocks__block:nth-child(3) {
  background: #e2bb7f;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}
.blocks__block:nth-child(4) {
  background: #f67b7d;
  -webkit-transform-origin: 75% 100%;
          transform-origin: 75% 100%;
}
.blocks__block:nth-child(5) {
  background: #38c5b9;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.blocks__block.active {
  z-index: 3;
}
.blocks-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}
.blocks-content__content {
  will-change: transform, opacity;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 4;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 10vw;
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  transition: all 0.3s 0.2s ease-out;
}
.blocks-content__content.active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
}
.blocks-content .blocks__content-close {
  position: absolute;
  right: 2vw;
  top: 2vh;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.blocks-content .blocks__content-close:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.blocks-content p {
  font-size: 16px;
  line-height: 2;
  max-width: 800px;
}
.blocks-content h2 {
  padding: 15px 30px;
  font-weight: 300;
  letter-spacing: 6px;
  box-shadow: inset 0 0 0 3px #000;
}
.blocks-names {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 18px;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all 0.15s ease-out;
}
.blocks-names .blocks__name {
  flex: 1;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Demo */
/* main {
  position: relative;
  z-index: 1;
  padding: 3vh 5vw;
  height: 80vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center; */
  /* background: white; */

/* main h1 {
  margin: 0;
  font-weight: 300;
  color: #38c5b9;
} */
/* main h1 a {
  font-size: 48px;
} */
/* main p {
  font-weight: 300;
  font-size: 16px;
  max-width: 340px;
  margin: 7px auto;
} */
/* main a {
  text-decoration: none;
  color: #38c5b9;
  font-size: 30px;
} */
/* main .plate {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 380px;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
} */

